{% extends "base.html" %}

{% block content %}
    {% for f in filtr %}
        <a href="{{ f.0 }}">{{ f.1 }}</a>
    {% endfor %}
        <a href="active">Активные</a>
        <a href="all">Все</a>

    <TABLE>
        {% for line in articles %}
            <tr>
                <td>{{ line.name }}</td>
                <td>{{ line.date_start }}</td>
                <td>{{ line.date_end }}</td>
                <td><a href="edit/{{ line.pk }}/">Изменить</a></td>
                <td><a href="delete/{{ line.pk }}/">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
