{% extends "base.html" %}

{% block content %}
    <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>{{ button_name }}</button>
    </form>
{% endblock %}
