{% if message %}
    <div style="background: red">
        <h1>Сообщение:</h1><hr>
        <p>{{ message }}</p>
    </div>
{% endif %}

<div style="background: silver">
<a href='/'>Главная страница</a><br>
<a href='/article/list'>Статьи расходов и доходов</a><br>
<a href='/article/add/'>Добавить новую статью расходов или доходов</a><br>
<a href='/operations/add/'>Добавить операцию</a><br>
<a href='/operations/report/'>Сводный отчет за период</a><br>
</div>

{% block content %}
<H1>Информация о проекте</h1>
<p>Работу выполнил: Пермяков Алексей</p>
<p>email: mofrant@gmail.com</p>
<p>Репозиторий: <a href="https://bitbucket.org/moFrant/ffinances/">https://bitbucket.org/moFrant/ffinances/</a></p>
<p>wiki: <a href="https://bitbucket.org/moFrant/ffinances/wiki/Home">https://bitbucket.org/moFrant/ffinances/wiki/Home</a></p>
{% endblock %}
