{% load staticfiles %}
﻿<!DOCTYPE html> 
<head>
	<meta charset="utf-8">	
	<title>Вход на сайт</title>		
	<link rel="stylesheet" href={% static "css/styles.css" %}>	
</head>

<body>          
	<span class="right">  </span>    
	<div class="clr"></div>

	<div id="container">
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <!-- <button type="submit">Вход</button> -->
      <div id="lower">							
				<input type="submit" value="Войти">	
			</div>
			</div>
    </form>
  </body>
</html>
