{% extends "base.html" %}

{% block content %}
    {% if form %}
        <form method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit'>{{ button_name }}</button>
        </form>
    {% endif %}

    {% if operations %}
        <TABLE>
            {% for line in operations %}
                {% if line.article.type == "income" %}
                    <tr style="background: green">
                {% else %}
                    <tr style="background: red">
                {% endif %}
                
                        <td>{{ line.date }}</td>
                        <td>{{ line.article.name }}</td>
                        <td>{{ line.summa }}</td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
